*,
&::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(
      90deg,
      rgba(81, 170, 90, 0.9) 0%,
      rgba(50, 101, 67, 0.9) 100%
    ),
    url(bg.jpg);
  background-size: cover;
  background-position: center;
}

img {
  height: 80px;
}
h1,
h3 {
  color: #fff;
}
